pipeline/Append Variable.json
{
	"name": "Append Variable",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ListofFiles",
					"value": {
						"value": "@pipeline().parameters.FileName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Output",
					"value": {
						"value": "@variables('ListofFiles')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string",
				"defaultValue": "DailySales"
			}
		},
		"variables": {
			"ListofFiles": {
				"type": "Array",
				"defaultValue": [
					"IndiaSales",
					"UkSales",
					"USSales"
				]
			},
			"Output": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-06-09T02:40:34Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}