pipeline/Send Email.json
{
	"name": "Send Email",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-06.eastus.logic.azure.com:443/workflows/f8b9caa89d97479cace332ff1b4bf4d1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=DjlqhSjhdwgBIkL8NMauiROkdulKAkqyItWFbabLbn0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"body": {
						"value": "{ \n\"dataFactoryName\": \"@{pipeline().DataFactory}\",\n\"message\": \"@{activity('Copy data1').error.message}\",\n\"pipelineName\": \"@{pipeline().Pipeline}\",\n\"pipelineRunId\": \"@{pipeline().RunId}\",\n\"time\": \"@{utcnow()}\",\n\"title\": \"Data Warehouse Pipeline Execution Failed\",\n\"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlPoolSink",
						"allowCopyCommand": true
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "GetMetadataForParquetFile",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQLPoolSynapseTrainingDatabase",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('Copy data1').error.message",
						"type": "Expression"
					},
					"errorCode": "2202"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-06-12T04:47:33Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}